<div class="container">
        <h1>Gerenciar Usuarios</h1>
        <table class="table">
                <thead>
                   <tr>
                        <th>Admin</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Email</th>
                        <th></th>
                   </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in users" >
                        <td ng-class="status(u)">
                           <div ng-show="u.adm" >
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                           </div>  
                           <div ng-show="!u.adm" >
                                <i class="fa fa-lock" aria-hidden="true"></i>
                           </div>      
                        </td>
                        <td  ng-class="status(u)">{{ u.nome }}</td>
                        <td  ng-class="status(u)">{{ u.data }}</td>
                        <td  ng-class="status(u)">{{ u.email }}</td>
                        <td>
                          <button type="button" class="btn btn-success" ng-click="aprovar(u)">Ativar Usuario</button>
                          <button type="button" class="btn btn-danger" ng-click="reprovar(u)">Desativar Usuario</button>
                          <button type="button" class="btn btn-primary" ng-click="ativaAdmin(u)">Ativar Admin</button>
                          <button type="button" class="btn btn-warning" ng-click="desativaAdmin(u)">Desativar Admin</button>

                        </td>
                </tr>
                
                </tbody>
        </table>
</div><!-- /container -->